@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;

  
}

.nav{

  display: flex;
  justify-content: space-between;
  align-content: center;
  background:#003388;
  color: #fff;
  padding: 1em 6em;

}

.logo a{
  
  text-decoration: none;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.6em;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 1em;
 
}
.nav ul{
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.nav li{
  list-style: none;

}
.nav a{
  text-decoration: none;
  color: #fff;
  padding-right:2em;
  font-family: 'Inter';
  /* text-transform: uppercase; */
  font-size: 1em;

}
.nav a:hover{
  color:#57d4fa;
  text-decoration: underline;
  letter-spacing: 1px;
}
    .toggle{
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
  }
  .bar{
      width: 100%;
      background: #fff;
      height: 3px;
  }
  @media (max-width: 480px){
  
      .logo{
          padding: 0 0.5em;
      }
      .toggle{
        display: flex;
      }
  
      
      
      .nav li{
          padding-bottom: 2em;
          text-align: center;
      }
      .nav ul{
          padding-top: 3em;
          flex-direction: column;
          display: none;
  
      }
  }
  
  
    .current{
        text-decoration: underline;
        color: #57d4fa !important;
    }
    .navbar a:hover{
        text-decoration: underline;
        color: #57d4fa;
    } 
    .content{
        background-color: #E6F5FC ;
        padding: 1.8%;
    }
    .top-content{
        padding-bottom: 2%;
        font-weight: 400;
    }
    .below{
      display: flex;
      
     
    }
    .code{
        padding: 0.5%  10% 0.5%  0 ;
        margin: 1%;
       
    }
    .service{
        font-weight: 500;
        font-size: 18px;
        
        
        letter-spacing: -0.011em;
        
        color: #43B580; 
    }
    
    
    .check{
        margin-right: -15%;
    }
    
   
    
    
    .cylinder{
      padding-left: 25%;
    }
    .cart{
      padding-left: 10%;
      padding-top: 8%;
    }
    .dilvery{
      margin: 3%;
    }
    .head{
      margin-bottom: 2%;
    }
    
    .head button{
      padding: 0.5%;
      
      border-radius: 12px;
      background-color: #1AC4F7 ;
      color: white;
    }
    .material{
      display: flex;
      margin-top: 2%;
    }
    .mask{
      margin-left: 2%;
    }
    .num{
      margin-left: 3%;
    }
    .track{
      margin: 3%;
    }
    .location{
    margin-left: 20%;
    margin-top: 8%;
    }
    @media screen and (max-width: 639px){
      .material{
        display: flex;
        margin-top: 2%;
        flex-direction: column;
      }
      .below{
        display: flex;
        flex-direction: column;
      }
    }
    .b  {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      
    }
    
    .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      padding: 11px 0;
      background: #eee;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;
      padding-bottom: 10%;
    }
    
    .value-button:hover {
      cursor: pointer;
    }
    
    form #decrease {
      margin-right: -4px;
      border-radius: 8px 0 0 8px;
    }
    
    form #increase {
      margin-left: -4px;
      border-radius: 0 8px 8px 0;
    }
    
    form #input-wrap {
      margin: 0px;
      padding: 0px;
    }
    
    input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 40px;
    }
    
   /* input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }*/