@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;

  
}

.nav{

  display: flex;
  justify-content: space-between;
  align-content: center;
  background:#003388;
  color: #fff;
  padding: 1em 6em;

}

.logo a{
  
  text-decoration: none;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.6em;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0 1em;
 
}
.nav ul{
  display: flex;
  justify-content: space-between;
  align-content: center;

}
.nav li{
  list-style: none;

}
.nav a{
  text-decoration: none;
  color: #fff;
  padding-right:2em;
  font-family: 'Inter';
  /* text-transform: uppercase; */
  font-size: 1em;

}
.nav a:hover{
  color:#57d4fa;
  text-decoration: underline;
  letter-spacing: 1px;
}
    .toggle{
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
  }
  .bar{
      width: 100%;
      background: #fff;
      height: 3px;
  }
  @media (max-width: 480px){
  
      .logo{
          padding: 0 0.5em;
      }
      .toggle{
        display: flex;
      }
  
      
      
      .nav li{
          padding-bottom: 2em;
          text-align: center;
      }
      .nav ul{
          padding-top: 3em;
          flex-direction: column;
          display: none;
  
      }
  }
  
  
    .current{
        text-decoration: underline;
        color: #57d4fa !important;
    }
    .navbar a:hover{
        text-decoration: underline;
        color: #57d4fa;
    } 
    .content{
        background-color: #E6F5FC ;
        padding: 1.8%;
    }
    .top-content{
        padding-bottom: 2%;
        font-weight: 400;
    }
    .below{
      display: flex;
      
     
    }
    .code{
        padding: 0.5%  10% 0.5%  0 ;
        margin: 1%;
       
    }
    .service{
        font-weight: 500;
        font-size: 18px;
        
        
        letter-spacing: -0.011em;
        
        color: #43B580; 
    }
    
    
    .check{
        margin-right: -15%;
    }
    
   .input-group input,
    textarea {
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      margin: 0;
      outline: none;
      padding: 10px;
    }
    
    input[type="button"] {
      -webkit-appearance: button;
      cursor: pointer;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    
    .input-group {
      clear: both;
      margin: 15px 0;
      position: relative;
    }
    
    .input-group input[type='button'] {
      background-color: #eeeeee;
      min-width: 38px;
      width: auto;
      transition: all 300ms ease;
    }
    
    .input-group .button-minus,
    .input-group .button-plus {
      font-weight: bold;
      height: 38px;
      padding: 0;
      width: 38px;
      position: relative;
    }
    
    .input-group .quantity-field {
      position: relative;
      height: 38px;
      left: -6px;
      text-align: center;
      width: 62px;
      display: inline-block;
      font-size: 13px;
      margin: 0 0 5px;
      resize: vertical;
    }
    
    .button-plus {
      left: -13px;
    }
    
    input[type="number"] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
    }
    .cylinder{
      padding-left: 25%;
    }
    .cart{
      padding-left: 10%;
      padding-top: 8%;
    }
    .dilvery{
      margin: 3%;
    }
    .head{
      margin-bottom: 2%;
    }
    
    .head button{
      padding: 0.5%;
      
      border-radius: 12px;
      background-color: #1AC4F7 ;
      color: white;
    }
    .material{
      display: flex;
      margin-top: 2%;
    }
    .mask{
      margin-left: 2%;
    }
    .num{
      margin-left: 3%;
    }
    .track{
      margin: 3%;
    }
    .location{
    margin-left: 20%;
    margin-top: 8%;
    }
    @media screen and (max-width: 639px){
      .material{
        display: flex;
        margin-top: 2%;
        flex-direction: column;
      }
      .below{
        display: flex;
        flex-direction: column;
      }
    }