
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/Navbar/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;

  
}
a{
    text-decoration:none;
    color:white;
}
.nav{

    display: flex;
    justify-content: space-between;
    align-content: center;
    background:#003388;
    color: #fff;
    padding: 0em 6em;

}

.logo a{
    
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.6em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0 1em;
   
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.nav li{
    list-style: none;

}
.nav a{
    text-decoration: none;
    color: #fff;
    padding-right:2em;
    font-family: 'Inter';
    /* text-transform: uppercase; */
    font-size: 1em;

}
.nav a:hover{
    color:#57d4fa;
    text-decoration: underline;
    letter-spacing: 1px;
}

.toggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.bar{
    width: 100%;
    background: #fff;
    height: 3px;
}
@media (max-width: 480px){

    .logo{
        padding: 0 0.5em;
    }
    .toggle{
      display: flex;
    }

    
    
    .nav li{
        padding-bottom: 2em;
        text-align: center;
    }
    .nav ul{
        padding-top: 3em;
        flex-direction: column;
        display: none;

    }
}

.current{
    text-decoration: underline;
    color: #57d4fa !important;
}

/Profile/
.profile{
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.profile img{
    height: 10rem;
    width: 10rem;
    margin-top: 2.7rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .name{
    line-height: 51px;
    font-weight: 900;
    font-size: 2rem;
}

.info .age{
    line-height: 27px;
    font-size: 24px;
    margin-top: 1px;
    font-weight: 400;
}

/Appointment/
hr{
    margin: 11px 34px;
    background: #003388;
}

.para p{
    margin: 10px 0;
}

.session{
    background-color: #E6F5FC;
    margin: 0 5rem;
    margin-top: 10px;
    margin-bottom: 70px;
}

.counselling,.appointment{
    padding: 10px 31px;
    padding-top: 2px;
    display: flex;
    margin-top: 29px;
    margin-bottom: 19px;
}

.session .heading{
    font-size: 24px;
    font-weight: 700;
    
}

.session .date{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.session .name{
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}


.session .fees{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #24a10b;
}

.session span{
    font-weight: 400;
}

button{
    background-color: #003388;
    color: white;
    font-size: 1.2rem;
    margin-left: 52.1rem;
    margin-top: 2rem;
    padding: 11px 34px;
    position: absolute;
    border-radius: 4px;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-left: 7.9rem;
}

.app-btn{
    display: flex;
    flex-direction: column;
    margin-left: 7.7rem;
    margin-top: 25px;
}

.btn1{
    margin-left: 45.9rem;
    margin-bottom: -15px;
    margin-top: 36px;
}

.btn3{
    margin-left: 45.9rem;
    margin-bottom: -15px;
    margin-top: 36px;
}

.btn2{
    margin-left: 10.7rem;
    margin-bottom: -15px;
    margin-top: 60px
}

.green{
    background-color: #448366;
    padding: 11px 42px;
    margin-left: 10.7rem;
    margin-top: 121px;
}

.btn1:hover,.btn2:hover,.btn3:hover{
    background: rgb(6, 6, 90);
}

button:hover{
    cursor: pointer;
}


.green:hover{
    background: rgb(11, 92, 8);
}

@media screen and (max-width:1490px) and (min-width:1215px) {
    .counselling,.appointment{
        justify-content: space-between;
    }

    .btn1{
        margin-left: -13.1rem;
    }
    .btn2{
        margin-left: -13.3rem;
    }
    .green{
        margin-left: -13.3rem;
    }
    .btn3{
        margin-left: -13.1rem;
    }
}

@media screen and (max-width:1215px) and (min-width:850px)
{
    .counselling,.appointment{
        justify-content: space-between;
    }

    .btn1{
        margin-left: -13.1rem;
    }
    .btn2{
        margin-left: -13.3rem;
    }
    .green{
        margin-left: -13.3rem;
        padding: 11px 28px;
    }
    .btn3{
        margin-left: -13.1rem;
    }
    .appointment .para{
        padding-right: 7rem;
    }
    button{
    font-size: 1.2rem;
    padding: 11px 20px;
    position: absolute;
    }
}

@media screen and (max-width:850px) 
{
    .green
    {

        padding: 8px 10px;
        margin-left: -6.34rem;
        margin-top: 121px;
    }    
    .btn2{
        margin-left: -6.3rem;
    }
    button{  
    font-size: 1rem;
    margin-left: 52.1rem;
    margin-top: 2rem;
    padding: 8px 3px;
    }
    .btn1,.btn3{
        margin-left: -6.5rem;
    margin-bottom: -15px;
    margin-top: 36px;
    }
    .btn{
        display: flex;
    flex-direction: column;
    margin-left: 1.9rem;
    margin-top: 7px;
    }
    .counselling,.appointment{
        justify-content: space-between;
    padding: 2px 31px 10px;
    margin-top: 29px;
    margin-bottom: 19px;
    }
    .app-btn{
        margin-top: 44px;
    }
}

@media screen and (max-width:803) {
    .green
    {
        background-color: #448366;
        padding: 8px 10px;
        margin-left: -6.34rem;
        margin-top: 121px;
    }    
    .btn2{
        margin-left: -6.3rem;
    }
    button{
    font-size: 1rem;
    margin-left: 52.1rem;
    margin-top: 2rem;
    padding: 8px 3px;
    }
    .btn1,.btn3{
        margin-left: -6.5rem;
    margin-bottom: -15px;
    margin-top: 36px;
    }
    .btn{
        display: flex;
    flex-direction: column;
    margin-left: 1.9rem;
    }
    .counselling,.appointment{
        justify-content: space-between;
    padding: 2px 31px 10px;
    display: flex;
    margin-top: 29px;
    margin-bottom: 19px;
    }
    .session span{
        margin-left: 0px;
    }
}

@media screen and (max-width:600px) {
    .session{
        margin: 0 0.6rem;
    }
    .para{
        margin-right: 3rem;
    }
    button{
        padding: 8px 0;
        font-size: 0.9rem;
    }
    .btn1, .btn3{
        margin-left: -5.21rem;
        margin-top: 70px;
    }
    .green{
        margin-left: -5.28rem;
    margin-top: 121px;
    padding: 8px 6px
    }
    .btn2{
        margin-left: -5.3rem;
    }
    .app-btn{
        margin-top: 120px;
        margin-left: 2.7rem;
    }
}

@media screen and (max-width:600px) and (min-width:400px) {
    .app-btn{
        margin-top: 52px;
    }
    .btn{
        margin-top: -9px;
    }
}
